[Desktop Entry]
Name=L-Visual-Manager
Comment=Gestor visual de imágenes para L
Exec=AppRun
Icon=l-visual-manager
Type=Application
Categories=Game;Utility;
Terminal=false
StartupNotify=true
Keywords=lutris;games;covers;banners;images;
X-AppImage-Version=1.0
